.admin {
  width: 100%;
	min-height: 800px;
	text-align: center;
  flex: 1 0 auto;
  background-color: #1366cb;
}

.admin .navbar {
  background-color: #07acb8;
  width: 90%;
  height: 55px;
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  justify-content: right;
  padding: 20px 5%;
}

.admin .navbar h1{
  margin: 0;
  padding: 0;
  line-height: 50px;
  font-size: 1.5em;
  font-weight: 700;
  color: #343a40;
}

.admin .body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.admin .body .section {
  width: 50%;
}

.list-element {
	background-color: #1366cb;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}